header {
  text-align: center;
  background-color: #1a2025;
  padding: 10px;
}

header h1 {
  color: #FFD700;
  background-color: black;
}

body {
  background-color: #2a3439;
  color: white;
}

a {
  color: white;
}
